name: CI-CD Pipeline

on:
  push:
    branches: ["main"]
    
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
   
    permissions:
      id-token: write
      contents: read

    env:
      
      AWS_REGION: us-east-1
      ECR_REPOSITORY: myapp
      IMAGE_TAG: ${{ github.sha }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          cd app
          pip install -r requirements.txt
          pip install pytest
      - name: Run pytest
        run: |
          cd app
          pytest


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::161862142232:role/GirRole
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2


      - name: Build, tag, and push image to ECR
        run: |
          IMAGE:"${AWS_ACCOUNT_ID}.dir.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${IMAGE_TAG}"
          IMAGE:$(echo "$IMAGE" | tr -d '[:apce:]')
          echo "IMAGE=$IMAGE"

          docker build -t "$IMAGE" .
          docker push "$IMAGE"
          
          # docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          # docker tag "$ECR_REPOSITORY:$IMAGE_TAG" "$ECR_REPOSITORY:$IMAGE_TAG"
          # docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG


      - name: Deploy to Amazon ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: terraform/ecs-task.json
          service: fastapi-gists-service
          cluster: fastapi-gists-cluster
          wait-for-service-stability: true
