name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest



    steps:
 
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          cd app
          pip install -r requirements.txt
          pip install pytest

      - name: Run pytest
        run: |
          cd app
          pytest

      


#  AWS CREDENTIALS
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::670219536150:role/GitRole
          aws-region: us-east-1
      - name: Debug AWS identity
        run: aws sts get-caller-identity
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v3

      - name: Build, tag, and push image to ECR
        run: |
          docker build -t $ECR_REPOSITORY .
          docker tag $ECR_REPOSITORY:latest $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      # --------------------------
      # 6. UPDATE ECS SERVICE
      # --------------------------
      - name: Deploy to Amazon ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: terraform/ecs-task.json
          service: fastapi-gists-service
          cluster: fastapi-gists-cluster
          wait-for-service-stability: true
